@model LMS.Models.OrderViewModel

@{
    ViewBag.Title = "LunchOrderHistory";
}

<div class="container">
    <div class="ui card" style="height:auto; width:inherit; padding:5px 0 20px 0">
        <h3 class="text-center" style="padding-top:20px">ORDER HISTORY</h3>
    </div>
    <div class="row container center-block">
        <div class="col-sm-12 text-center" style="padding:20px">
            <strong>TOTAL ORDER - @TempData["IndividualMeal"]</strong>
            &emsp;
            <strong>TOTAL ORDER - @TempData["IndividualCost"]</strong>
        </div>

    </div>



        @Html.Partial("Order/SearchHistory", Model.order)
        <div class="content">
            <div class="extra content">
                <div class="col-sm-12">
                    @Html.Partial("Order/OrderList", Model.allOrederList)
                </div>
            </div>
        </div>
</div>




